.hero-img {
    height: 300px;
    width: 400px;
}

.hero-title {
    text-shadow: 0.5px 0.5px 2px gray;
}

.hero-desc {
    margin-top: 1em;
    line-height: 1.5em;
}

@media (min-width: 768px) {
    .hero-desc {
        line-height: 1.7em;
    }
}



@media (min-width: 992px) {
    .hero-img {
        width: 350px;
        height: 350px;
    }
 }


@media (min-width: 1200px) {  }


@media (min-width: 1400px) {  }
